.title_medium--font{
    font-family: "Work Sans", sans-serif;
    font-weight: 700;
    font-size: clamp(28px, 6vw, 72px);
    line-height: clamp(36px, 8vw, 84px);
    color: var(--color-border);
}
.form{
    display: flex;
    flex-direction: column;
    gap: 60px;
    justify-content: center;
    align-items: center;
}

.form__content{
	width: 100%;
	margin: 0 auto;
	/* padding: 0 10px; */
	max-width: 592px;

}

.form__input_container{
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    margin-bottom: 14px;
}


/*general styles*/
.field{
    width: 100%;

    padding: 10px 8px;

    font-family: 'Hind Siliguri', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    color: var(--color-text-main);

    border: 1px solid var(--color-border);
    border-radius: 4px;
    background-color: var(--color-white);
    
}


.form__input{
    width: calc((100% - 12px)/ 2);
    max-height: 48px;
    
}

@media screen and (max-width: 767px){

    .form__input{
        width: 100%;
        
    }


}

.form__input::placeholder,
.form__textarea::placeholder{
    color: var(--color-text-gray);
}

/*textarea*/

.form__textarea{
    max-height: 134px;
}

.form__caption{
    display: inline-block;
    font-size: 16px;
    line-height: 26px;
    color: var(--color-text-main);
    padding-left: 1px;
    margin-bottom: 10px;
}

.form__label_agreement{
    font-size: 14px;
    padding: 3px 0;
    line-height: 1.5;
    display: flex;
    gap: 8px;
    align-items: center;
    cursor: pointer;
    white-space: nowrap;
}

.form__label_agreement a{
    color: var(--color-text-main);

}

.form__checkbox{

    max-height: 15px;
    border: 1px solid #303030;
    border-radius: 3px;
    accent-color: var(--color-accent);

}

/*visuals*/

.form__input:focus,
.form__textarea:focus {
    border-color: var(--color-accent);
    background-color: var(--color-hero-background);
}

.form__input:active,
.form__textarea:active {
  border-color: var(--color-accent-dark);
  background-color: var(--color-hero-background-hover);
  box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.1);
}


.form__input:not(:placeholder-shown) {
    background-color: #f9f9f9;
    border-color: var(--color-success);
}


.form__input:invalid:focus {
    border-color: red;
    background-color: #fff0f0;
    box-shadow: 0 0 0 3px rgba(201, 95, 95, 0.507);
  }


.form__input:valid:focus,
.form__textarea:focus {
    border-color: green;
    background-color: #fff0f0;
    box-shadow: 0 0 0 3px rgba(120, 224, 94, 0.507);
  }


